@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Basic app styling */
.App {
  text-align: left;
  min-height: 100vh;
}

/* Custom scrollbar for WebKit browsers */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace;

}
